<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>document</title>
    <body>
      <div>Hello <%= full_name %>, you hail from the city of <%= city %>.</div>
    </body>
  </head>
</html>